<%= simple_form_for([season.league, season, season.teams.build]) do |f| %>
    <label class="text-label">
        Name
    </label>
    <%= f.input_field :name, required: true, class: "text-input" %>

    <label class="model-label">
        Captain
    </label>
    <%= f.association :captain, label_method: :user_name, label: false %>

    <%= f.button :submit, "Create team", class: "create-team-btn" %>
<% end %>