<div class="card mt-3">
    <div class="card-header text-center">Chat Archive</div>

    <div class="card-body">
        <%= render @messages %>

        <div class="text-center mt-4">
            <%= will_paginate @messages %>
        </div>
    </div>
</div>