<%= simple_form_for(league) do |f| %>
    <label class="title-label">
        Name
    </label>
    <%= f.input_field :name, required: true, class: "name-input" %>

    <%= f.button :submit, "#{params[:action] === "edit" ? "Edit" : "Create"} league", class: "create-league-btn" %>
<% end %>

<% if params[:action] === "edit" %>
    <%= link_to "Delete league", league, method: :delete %>
<% end %>