<%= simple_form_for(subforum) do |f| %>
    <label class="title-label">
        Title
    </label>
    <%= f.input_field :title, required: true, class: "title-input" %>

    <%= f.button :submit, "#{params[:action] === "edit" ? "Edit" : "Create"} subforum", class: "create-subforum-btn" %>
<% end %>

<% if params[:action] === "edit" %>
    <%= link_to "Delete subforum", subforum, method: :delete %>
<% end %>