<div class="card rounded-0 border-accent">
    <%= link_to subforum, method: :get do %>
        <div class="card-body">
            <div class="card-title">
                <%= subforum.title %>
            </div>
            <div class="card-text text-muted">
                <%= pluralize(subforum.posts.count, "post") %>
            </div>
        </div>
    <% end %>
</div>