<div class="subforum-container">
    <div class="title">
        <%= subforum.title %>
    </div>

    <%= link_to new_subforum_post_path(subforum), method: :get do %>
        <div class="new-post">
            <span><img src="<%= asset_path("feathericons/plus.svg") %>"/></span> New post
        </div>
    <% end %>

    <% if @posts.any? %>
        <% @posts.order('updated_at DESC').each do |post| %>
            <%= render 'posts/preview', post: post, subforum: subforum %>
        <% end %>
    <% else %>
        <div class="no-posts">
            There aren't any posts in this topic yet!
        </div>
    <% end %>
</div>

