<h2 class="text-center mb-3">Season 33 Draft</h2>

<iframe 
    style="display: block; margin: 0 auto;" 
    src="http://widget.mibbit.com/?settings=203e76a5fc29bbef5b229bd7e01bc25f&amp;server=irc.va.us.mibbit.net&amp;channel=%23mhlchat%20moose" 
    width="100%" 
    height="600px">
</iframe>

<h2 class="text-center mt-3">Available players</h3>

<div class="row mt-3" id="unplaced">
    <%= render "unplaced", unplaced: @unplaced %>
</div>

<h2 class="text-center mt-3">Rosters</h3>

<div class="row mt-3 justify-content-center" id="rosters">
    <%= render "rosters", teams: @teams %>
</div>

<%= javascript_pack_tag "draft/draft_update" %>