<div class="row">
    <div class="col-12 col-lg-6 text-center m-auto">
        <div class="text-center">
            <%= link_to new_user_session_path, method: :get do %>
                <button class="btn btn-outline-dark mt-4" style="cursor: pointer;">Log in</button>
            <% end %>
            <%= link_to new_user_registration_path, method: :get do %>
                <button class="btn btn-outline-dark mt-4" style="cursor: pointer;">Sign up</button>
            <% end %>
        </div>

        <div class="text-center">
            <img class="img-responsive mt-4" width="200" height="200" src="<%= asset_path("MooseLogo.png") %>"/>
        </div>

        <div class="text-center mt-2">
            <h1>Moose Hockey</h1>

            <p>
                Welcome to the new <strong>moosehockeyleague.com</strong>.
            </p>

            <p>
                With the release of EA Sports NHL 18 on the <strong>Xbox One</strong>, we have undergone a complete website redesign.
            </p>

            <p>
                We are dedicated to maintaining a balance of community and competitiveness here at Moose Hockey. Trash talking
                is great, however: personal attacks, racism, etc. will <strong>not be tolerated.</strong>
            </p>
        </div>
    </div>
</div>

<div class="text-center">
    <img class="m-auto rounded" style="max-width: 80%; max-height: 80%;" src="https://cdn2.vox-cdn.com/uploads/chorus_asset/file/8727717/nhl_18_defensive_skill_stick_karlsson_1920.jpg"/>
</div>

<div class="row mt-4">
    <div class="col-12 col-lg-6 text-center m-auto">
        <div class="text-center mt-2">
            <h3>Moose Executive Committee</h1>

            <p>
                The Moose itself is run by a core group of members. Each of us are here to help you out in any way we can.
                Feel free to reach any of us at any time.
            </p>

            <p>
                <strong>President</strong>: Blue Liner x 6
            </p>

            <p>
                <strong>Vice President</strong>: Viclev
            </p>

            <p>
                <strong>Disciplinary</strong>: L U C K T E N
            </p>

            <p>
                <strong>Website Administrator</strong>: Grish x 13
            </p>

            <p>
                <strong>Public Relations</strong>: Upshall 55
            </p>

            <p>
                <strong>MEC</strong>: Rocco 33
            </p>

            <p>
                <strong>MEC</strong>: Crazyyetikilla
            </p>

            <p>
                <strong>MEC</strong>: l9l Fallen l3l
            </p>

            <p class="mt-4">
                With that said, sign up for the site and make sure to sign up for the upcoming season via the MHL league page.
                Welcome to the best EA Sports NHL league there is.
            </p>
        </div>
    </div>
</div>