<div class="card rounded-0">
    <div class="card-header text-center text-uppercase">
        Season 33 RFA's & Keepers
    </div>

    <div class="card-body">
        <div class="row mb-4">
            <div class="col-12 col-lg-6 mb-2">
                <h3>The Fundies</h3>
                <p><strong>WindyCityWeb</strong> (30 BOD) - RFA</p>
                <p><strong>NJSki711</strong> (44 BOD) - RFA</p>
            </div>
            <div class="col-12 col-lg-6 mb-2">
                <h3>Tickle the Twine</h3>
                <p><strong>Rocco 33</strong> (23 BOD) - RFA</p>
                <p><strong>sbdr91</strong> (33 BOD) - RFA</p>
            </div>
            <div class="col-12 col-lg-6 mb-2">
                <h3>Inglorious Basterds</h3>
                <p><strong>DropDcrap</strong> (25 BOD) - RFA</p>
            </div>
            <div class="col-12 col-lg-6 mb-2">
                <h3>Trevor Phillips Industries</h3>
                <p><strong>IHaLLmaYnE</strong> (14 BOD) - Keeper</p>
            </div>
        </div>

        <div class="text-center">
            <a href="https://docs.google.com/spreadsheets/d/1oL6vRtOiaywq6nPlvUZ414cH8LJRG5U-MwojVoIm7IE/edit#gid=1904677644">
                Old Rosters
            </a>
        </div>
    </div>

    
</div>