<div class="rules-page">
    Unless specifically noted otherwise, all Rules apply to both the MHL and the MAHL
    <br>
    <br>
    <font size="3"><b>1 – DISCIPLINE/REMOVAL</b></font><br>
    <ul style="margin-left: 25px;">
        <li>Complaining about which team you are on at any point in the season is only moderately tolerated. There are mature
            and immature ways to go about requesting a trade, but anyone found being emo about playing with newbs/lower
            skilled members and/or being a douchebag to teammates will be ridiculed and likely removed from the league.
            Furthermore, constant disrespect of the league and its members in the view of the MEC may result in removal.
            Bottom Line: We are a small community that prides ourselves on the ability to provide a quality 6 v 6 hockey
            experience to our members; so if you act like a douche, you will no longer be welcome here.
        </li>
        <li>1.1 – Captains have the power to request a "Rule 1" of a player (i.e. Drop them from their roster after documented
            cases of excessive inactivity and/or douchebaggery). Captains are encouraged to be accountable as a representative
            of the league and as such, put the leagu's best interest ahead of their team's.
        </li>
        <li>1.2 – Players removed by a captain (or MEC) for Rule 1 violation will be suspended for remainder of the current
            season and possibly all of following season.
        </li>
        <li>1.3 – All Rule 1s need to be emailed to the MEC for investigation before being approved.
        </li>
        <li>1.4 – Depending on the circumstance, the MEC may decide a player suspension and/or website suspension is more
            appropriate.
        </li>
        <li>1.5 – A member's on-ice and/or off-ice actions are both possible causes for removal.
        </li>
        <li>1.6 – If a returning player has served their Rule 1 suspension and still wants to be a part of the Moose, they
            will need to go through the MAHL again.
        </li>
    </ul>
    <br>
    <font size="3"><b>2 – LEAGUE PLAY</b></font><br>
    <ul style="margin-left: 25px;">
        <li>Remain active and play to win - THIS IS NOT A "SIM LEAGUE"
        </li>
        <li>2.1 – MEC reserves the right to add gameplay restrictions in dire situations if something completely ridiculous
            (and enforceable/provable) is deemed to occur, such as “diving at the goalie causes them to lose the puck”,
            or “warp through penalty box results in auto-goal”, etc.
        </li>
        <li>2.2 – Captains are responsible for ensuring 6v6 happens EVERY game. Multiple infractions of SIMs will result
            in removal of Captaincy and the league.
        </li>
    </ul>
    <br>
    <font size="3"><b>3 – ROSTERS</b></font><br>
    <ul style="margin-left: 25px;">
        <li>3A – MHL: All teams MUST carry a roster of 6 players at all times, including the Captain
            <ul style="margin-left: 50px;">
                <li>3A.1 – All teams who end up with a roster of less than 6 players due to MEC approved drop(s) of a player
                    (douchebaggery, inactivity, Rule 1, unacceptable availability change downward, etc.) must call up
                    a player from their MAHL affiliate.
                </li>
            </ul>
        </li>
        <li>3B – MAHL : All teams MUST carry a roster of minimum 8 players at all times, including the Captain
            <ul style="margin-left: 50px;">
                <li>3B.1 – All MAHL teams who end up with a roster of less than 8 players due to MEC approved drop(s) of
                    a player (douchebaggery, inactivity, unacceptable availability change downward, etc.) will be given
                    a random, MEC approved Waiver player at a similar position, pending Waiver availability. Any and
                    all requests for a particular replacement player will be ignored.
                </li>
            </ul>
        </li>
    </ul>
    <br>
    <font size="3"><b>4 – AVAILABILITY CONTRACTS</b></font><br>
    <ul style="margin-left: 25px;">
        <li>Regular Season and Playoffs
        </li>
        <li>4.1 – All players must indicate on their sign-up form whether they will play 1 or 2 times a week.
        </li>
        <li>4.2 – Availability refers to the number of nights per week you can play, not the number of games.
            <ul style="margin-left: 50px;">
                <li>4.2.1 – PART-TIME availability is equal to 1/2 nights per week. Players who use this availability will
                    not be eligible for the MHL Draft. This will also disqualify you from playing in the MHL at all during
                    the season.
                </li>
                <li>4.2.2 – FULL-TIME availability is equal to 2/2 nights per week.
                </li>
            </ul>
        </li>
        <li>4.3 – This “availability contract” will be clearly stated to all Captains on the draft sheet and it will represent
            your expected availability throughout the season.
        </li>
        <li>4.4 – A player who is unavailable due to playing in another league at the same time they are expected to play
            in a Moose series is grounds for a Rule 1.
        </li>
        <li>4.5 – Both MHL and MAHL players may not change their availability during the season for any reason. A decrease
            in availability gives the captain grounds to drop you via Rule 1.
        </li>
        <li>4.6 – IF APPLICABLE, MAKE SURE YOUR “MIA” IS CLEARLY FILLED OUT ON SIGN-UP SHEET. Include any days, dates, times,
            etc. that you KNOW you will be unavailable to play. These entries are binding and will result in a loss if
            not followed.
        </li>
    </ul>
    <br>
    <font size="3"><b>5 – PLAYER CONNECTION RESPONSIBILITY</b></font><br>
    <ul style="margin-left: 25px;">
        <li>5.1 – Any potential threats regarding IP Attacks will be on the player to defend themselves.
        </li>
        <li>5.2 – The MEC will treat all disconnects the same, regardless of the manner in which they happen.
        </li>
    </ul>
    <br>
    <font size="3"><b>6 – DISCONNECTS – GOALIES</b></font><br>
    <ul style="margin-left: 25px;">
        HUMAN GOALIES ARE REQUIRED TO START A GAME
        <li>6.1 – Multiple Disconnects
            <ul style="margin-left: 50px;">
                <li>6.1.1 – 1st disconnect - Restart and run clock down to time of disconnect in first period of restarted
                    game.
                </li>
                <li>6.1.2 – 2nd disconnect - Restart and run clock down to time of disconnect in first period of restarted
                    game. Teams have option of replacing Goalie.
                </li>
                <li>6.1.3 – 3rd disconnect - Game is considered a loss for team that had their Goalie disconnect, regardless
                    of score or if a new Goalie was substituted.
                </li>
            </ul>
        </li>
        <li>6.2 – MEC reserves the right to investigate and take action they deem fit if repeated goalie disconnects occur
            with a particular player/team over the course of the season.
        </li>
    </ul>
    <br>
    <font size="3"><b>7 – DISCONNECTS – SKATERS (Regular Season and Playoffs)</b></font><br> Human Skaters are strongly encouraged at
    all times
    <ul style="margin-left: 25px;">
        <li>7.1 – All games are REQUIRED to start 6v6
        </li>
        <li>7.2 – THE TEAM THAT DOES NOT HAVE A PLAYER LAG OUT IS TO REMAIN IN THE GAME UNTIL THE OFFENDING TEAM HAS QUIT.
        </li>
        <li>7.3 – If any skater(s) on a team disconnect(s) in the 1st or 2nd period after the initial puck-drop, that team
            is awarded ONE RESTART PER GAME provided the procedure below is followed:
            <ul style="margin-left: 25px;">
                <li>7.3.1 – If the disconnect occurs in the 1st or 2nd period, restart at intermission and continue the game
                    from that point with whatever score existed at the time of restart.
                </li>
                <li>7.3.2 – IT IS ON THE TEAM THAT LAGGED OUT TO QUIT AT INTERMISSION AFTER COLLECTING STATS.
                </li>
                <li>7.3.3 – A restart can be granted once per game (eg. Player A lags out of Game 1. A restart is done. Any
                    player, including Player A, lags out, finish the game.)
                </li>
            </ul>
        </li>
        <li>7.4 – If any skater(s) on a team disconnect in the 3rd period, FINISH THE GAME OUT WITH THE CPU SKATER(S).
        </li>
        <li>7.5 – In the event of ANY restart, both teams must use the exact same line-ups and use the exact same positions
            as originally set. The only exception is if a player drops and cannot reconnect. At that time, the only thing
            that should change is the player in THAT SPECIFIC position.
        </li>
        <li>7.6 – In the event of all 6 (or 5) players of a team disconnecting or rage-quitting, that team would be given
            an automatic 3-0 loss regardless of the score at the time.
        </li>
        <li>Note: If it is a verified EA server mass disconnect, the MEC will review and determine results of the game(s).
        </li>
        <li>7.7 – Please report all suspected cases of “intentional disconnecting” to the MEC for further investigation.
            If certain teams and/or players are suspected of trying to exploit the system in order to play with CPU players,
            it will be dealt with on a case-by-case basis.
        </li>
    </ul>
    <br>
    <font size="3"><b>8 – HOSTING</b></font><br>
    <ul style="margin-left: 25px;">
        <li>Regular Season
        </li>
        <li>8A.1 – Home team hosts games 1 and 3 of all regular season series, while Away team hosts game 2.
        </li>
        <li>8A.2 – Each team may choose ONE PLAYER from opposing team that CANNOT HOST AT ALL (ie. Red bars, historical lagging
            or just personal bias; the reasoning is irrelevant, everybody gets 1 refuse host player).
            <ul style="margin-left: 50px;">
                <li>8A.2.1 – This choice may occur prior to any game starting OR prior to any utilized restart due to disconnect.
                </li>
                <li>8A.2.2 – Once a team chooses a refuse host player, they CANNOT choose a different one later. Your 1st
                    choice is the only player you can refuse all night.
                </li>
            </ul>
        </li>
        <li>8A.3 – Home team picks jerseys first. Away team must accommodate by using opposite colour. (eg. Home chooses
            dark jerseys, Away must choose light jerseys)
        </li>
        <li>Playoffs
        </li>
        <li>8B.1 – Higher seeded team hosts games 1, 2, 5, 7 during all playoff series, while lower seed hosts games 3, 4,
            7.
        </li>
        <li>8B.2 – Playoff hosting follows the same logic as Regular Season Hosting – each team gets 1 refuse host player.
        </li>
        <li>8B.3 – Home team picks jerseys first. Away team must accommodate by using opposite colour. (eg. Home chooses
            dark jerseys, Away must choose light jerseys)
        </li>
    </ul>
    <br>
    <font size="3"><b>9 – CAPTAINS</b></font><br>
    <ul style="margin-left: 25px;">
        <li>Stats Tracking
        </li>
        <li>9A.1 – Stats are tracked using an independent stats site which will be told to Captains (Login credentials will
            be provided to Captains prior to the start of the season)
        </li>
        <li>9A.2 – Captains are responsible for learning how to use this stats site for entering individual/team stats correctly
        </li>
        <li>9A.3 – Not entering stats in a timely manner (by 9pm EST the following night) will be punished via a 3 strike
            procedure as outlined below:
            <ul style="margin-left: 50px;">
                <li>9A.3.1 – 1st Strike: Captain's stats are not recorded, all other stats are still required
                </li>
                <li>9A.3.2 – 2nd Strike: Captain stats are not recorded and is suspended from next series or first night
                    of Playoff round (if applicable), team stats are not recorded
                </li>
                <li>9A.3.3 – 3rd Strike: Captain stats are not recorded and is suspended from next 2 series or entire Playoff
                    round (if applicable), team stats are not recorded
                </li>
                <li>9A.3.4 – Any Captain that commits 3 strikes will not be eligible to Captain again for 2 full seasons
                    after their Rule 1 punishment
                </li>
            </ul>
        </li>
        <li>9A.4 – Each Captain is allowed 2 stats extension requests per season no questions asked.
            <ul style="margin-left: 50px;">
                <li>9A.4.1 – Extension requests must be made by 7pm EST
                </li>
                <li>9A.4.2 – Any stats entered by 9pm EST after requesting an extension will negate the extension request
                </li>
            </ul>
        </li>
        <li>Other Duties
        </li>
        <li>9B.1 – Captains are representatives of this league and are expected to conduct themselves as such
        </li>
        <li>9B.2 – Captains are expected to consistently remain in communication with MEC, other Captains and their respective
            teams
        </li>
        <li>9B.3 – Captains are expected to partake in mandatory activities (ie. Draft Practice)
        </li>
        <li>9B.4 – MEC reserves the right to punish any Captain who does not follow these guidelines
        </li>
    </ul>
    <br>
    <font size="3"><b>10 – WAIVERS</b></font><br>
    <ul style="margin-left: 25px;">
        <li>MAHL (These Rules also apply to the MHL when an MAHL Season is not active)
        </li>
        <li>10.1 – If a team cannot get a legal number of players (6) on the ice for a series, the Captain can request a
            waiver to fill in for the night.
            <ul style="margin-left: 50px;">
                <li>10.1.1 – A Waiver request must be made by 8:40pm EST before the first game. All other requests for the
                    first game will be ignored and may result in a sim loss
                </li>
                <li>10.1.2 – Waiver request(s) for either game 2 or 3 can be made as necessary but understand that the MEC
                    member attempting to find a Waiver may also be playing a series - Please be patient
                </li>
                <li>10.1.3 – If a Waiver is requested and found before the drafted player originally expected to play returns,
                    the Waiver player MUST be used - No exceptions
                </li>
            </ul>
        </li>
        <li>10.2 – No team will be given the same Waiver player twice unless it is unavoidable
        </li>
        <li>10.3 – Captains DO NOT contact players for Waivers. They are provided by the MEC. If you ask for someone specific,
            you will be ignored. If you try to use someone unapproved, you will be given a sim loss.
        </li>
    </ul>
    <br>
    <font size="3"><b>11 – TRADING</b></font><br>
    <ul style="margin-left: 25px;">
        <li>11.1 – Trading of players is allowed provided that there is no collusion. The MEC reserves the right to veto
            obvious fishy, rotten or colluded trades.
        </li>
        <li>11.2 – All trades must remain under a hard salary cap of 115
        </li>
        <li>11.3 – Trades must be equal in numbers. (ie. 1 for 1, 2 for 2, 3 for 3, etc.)
        </li>
        <li>11.4 – Trade formats are as follows:
            <ul style="margin-left: 50px;">
                <li>11.4A.1 – MHL player for MHL player
                </li>
                <li>11.4B.1 – MAHL player for MAHL player
                </li>
            </ul>
        </li>
        <li>11.5 – In the event of the unlikely event that the MEC decides an extra team(s) will be added post-draft, any
            team trading with a defined expansion team will incur 50% of the salary they are trading away. (ie. PLAYER
            A, worth 20 BOD, is traded to CAPTAIN B, the player traded from CAPTAIN B’s team, PLAYER B, is now given
            a salary of 10 BOD (50% of 20 BOD)).
        </li>
        <li>11.6 – All accepted trades must follow the process explained below:
            <ul style="margin-left: 50px;">
                <li>11.6.1 – All trades must be announced on the Captain's thread between the hours of Midnight EST &amp;
                    Noon EST. If you don’t have an agreed upon trade with another captain by Noon EST, do NOT announce
                    it until the next day because it has zero chance of going through that night.
                </li>
                <li>11.6.2 – Once the trade is announced (on both forums and Captains thread), the “counter-trade period”
                    will begin immediately and run until 8PM EST. This creates an 8 hour time period for Captains to
                    offer/consider/accept counters.
                </li>
                <li>11.6.3 – In the event of an accepted counter-trade occurring between 7pm – 8pm EST, the counter-trade
                    period will extend to 9pm EST. After 9pm the Captain will be required to make a final decision to
                    accept or deny a counter-trade.
                </li>
                <li>11.6.4 – ALL TRADES ARE TO REMAIN CONFIDENTIAL WHILE STILL ACTIVE TO AVOID ANY EMO FROM TRADE RUMOURS
                    AND/OR AN ACCEPTED TRADE THAT MAY LATER BE COUNTERED.
                </li>
            </ul>
        </li>
        <li>11.7 – Trade Reversals: If a player is traded, then quits before playing for his new team leaving a Captain short
            a player, the MEC will undo the trade if it deems it necessary. If there are any Rule 1s to be made, players
            will be replaced accordingly.
            <ul style="margin-left: 50px;">
                <li>11.7.1 – If a Captain is believed to be offering/trading players they know are unresponsive/shady/potential
                    Rule 1, that Captain may be punished by the MEC as they see fit.
                </li>
            </ul>
        </li>
    </ul>
    <br>
    <font size="3"><b>12 – SCHEDULING</b></font><br>
    <ul style="margin-left: 25px;">
        <li>Regular Season
        </li>
        <li>12A.1 – Each week will consists of 3 series to be played which may occur on any 3 days between Sunday and Thursday
        </li>
        <li>12A.2 – Regular season series consist of 3 games each night
        </li>
        <li>12A.3 – Start time for each series:
            <ul style="margin-left: 50px;">
                <li>12A.3.1 – All MHL series will start at 10:00pm EST
                </li>
            </ul>
        </li>
        <li>12A.4 – Home team is responsible for the following:
            <ul style="margin-left: 50px;">
                <li>12A.4.1 – Club Challenge must be sent by 10:05PM EST for the first game
                </li>
                <li>12A.4.2 – Game must be started by 10:10pm EST or an enforceable sim loss WILL be awarded to the opposing
                    team
                </li>
                <li>12A.4.3 – Failure by the home team to do these will result in automatic 3-0 sim loss for them in game
                    1 of the series
                </li>
            </ul>
        </li>
        <li>12A.5 – Any team (home or away) failing to field a legal roster of 6 in the host-created game shall receive the
            following:
            <ul style="margin-left: 50px;">
                <li>12A.5.1 – 3-0 sim loss of 1st scheduled game at 10:10PM EST (5 minute delay + 5 minute timer countdown)
                </li>
                <li>12A.5.2 – 3-0 sim loss of 2nd scheduled game at 10:20PM EST (5 minute delay + 5 minute timer countdown)
                </li>
                <li>12A.5.3 – 3-0 sim loss of 3rd scheduled game at 10:30PM EST (5 minute delay + 5 minute timer countdown)
                </li>
                <li>12A.5.4 – 3-0 sim losses WILL be awarded to non-offending team after significant delay (5 minutes) after
                    previous game's finish
                </li>
            </ul>
        </li>
        <li>12A.6 – Each Captain may provide a refuse day to be repeated for each week for the duration of the regular season
        </li>
        <li>Playoffs
        </li>
        <li>12B.1 – One week, or 5 consecutive business days will be allotted for each playoff round
        </li>
        <li>12B.2 – Each captain will be allowed 1 REFUSE day each round, and if the 2 Captains can’t agree on 2 nights to
            play, the MEC will step in to decide
        </li>
        <li>12B.3 – Start times and sim loss times are all the same as the regular season rules as stated above
            <ul style="margin-left: 50px;">
                <li>12B.3.1 – The sim loss trend will continue in 10 minute intervals for games 4, 5, 6 and/or 7 for the
                    playoffs
                </li>
            </ul>
        </li>
    </ul>
    <br>
    <font size="3"><b>13 – RESCHEDULING</b></font><br>
    <ul style="margin-left: 25px;">
        <li>Regular Season
        </li>
        <li>13A.1 – Each team is limited to 3 agreed upon reschedules that THEY initiated
            <ul style="margin-left: 50px;">
                <li>13A.1.1 – In other words, you can “request all you want”, but once 2 of your reschedule requests have
                    been agreed by opposing Captain(s) and used, you may NOT request any more.
                </li>
                <li>13A.1.2 – If OTHER Captains ask YOU for a reschedule, you may agree to work with them as often as you
                    like.
                </li>
            </ul>
        </li>
        <li>13A.2 – Mutual Captain agreement is required for all reschedules (a forum post, email, etc. – something that
            proves both Captains agree to the reschedule).
        </li>
        <li>13A.3 – A firm date must be agreed upon for a reschedule; there are no “TBD reschedules”. With a large number
            of players available to both teams in each league, SIMs may be handed out and a respective punishment if
            a series cannot be rescheduled.
        </li>
        <li>13A.4 – Reschedules should be submitted ASAP. The opposing Captain does not have to agree to a reschedule, but
            it should be considered out of courtesy
        </li>
        <li>Playoffs
        </li>
        <li>13B.1 – In certain cases, a reschedule during the playoffs may be granted by the MEC
        </li>
    </ul>
    <br>
    <font size="3"><b>14 – TRANSFER OF PLAYERS BETWEEN LEAGUES</b></font><br>
    <ul style="margin-left: 25px;">
        <li>MHL
        </li>
        <li>14A.1 – MHL Roster Players
            <ul style="margin-left: 50px;">
                <li>14A.1.1 – Waive/Claim window is between 12:00am and 8:00pm EST (20 hour window).
                </li>
                <li>14A.1.2 – If an MHL player gets waived between Midnight and Noon EST, the waiver period to claim him
                    will end at 8pm EST that same day. This ensures the Waiver claim period is at LEAST 8 hours and making
                    that player available for a potential same-day 10pm EST series.
                </li>
                <li>14A.1.3 – If an MHL player gets waived between 12:01PM and 8pm EST, the waiver period to claim him will
                    end at 8pm EST the FOLLOWING DAY, thus preventing players from being waived and claimed right away.
                </li>
                <li>14A.1.4 – During a waiver period, MHL captains may make a claim on that player or ignore it (based on
                    waiver priority order—which is currently REVERSE STANDINGS AT THE TIME).
                </li>
            </ul>
        </li>
        <li>14A.2 – MHL Players have a 1-way contract, and as such, must clear waivers in order to be assigned to their MAHL
            affiliate.
        </li>
        <li>MAHL
        </li>
        <li>14B.1 – MAHL Affiliate Players
            <ul style="margin-left: 50px;">
                <li>14B.1.1 – Can be called up as MHL fill-in if regular MHL roster players are missing but CANNOT BE traded
                    to MHL as an MAHL affiliate player.
                </li>
                <li>14B.1.2 – If called up permanently, the MHL Captain must replace that vacant MAHL roster spot by waiving
                    someone on his MHL roster.
                </li>
                <li>14B.1.3 – May be used in MHL Playoffs if player still has available games remaining for call-ups.
                </li>
            </ul>
        </li>
        <li>14B.2 – Classification of MAHL players include Rookie, MAHL Only and Part-Time (1/2)
            <ul style="margin-left: 50px;">
                <li>14B.2.1 – Rookie: Eligible for 9 call-up games per season and playoffs. Ineligible for permanent call-up.
                </li>
                <li>14B.2.2 – MAHL Only: Eligible for 9 call-up games per season and playoffs. Ineligible for permanent call-up.
                </li>
                <li>14B.2.3 – Part-Time (1/2): Ineligible for call-up games. Ineligible for permanent call-up.
                </li>
            </ul>
        </li>
        <li>14B.3 – MAHL players have a 2-way contract, and as such, can be called-up and sent down without having to clear
            waivers to play on the MHL affiliate.
        </li>
        <li>14B.4 – MAHL players being called up to MHL Full-Time will be valued at half of the BOD value of the MHL player
            they are replacing. If that same MHL player is then called back up to the MHL Full-Time, their original BOD
            value will be reapplied.
        </li>
    </ul>
    <br>
    <font size="3"><b>15 – MHL ELIGIBILITY</b></font><br>
    <ul style="margin-left: 25px;">
        <li>15.1 – All MHL veterans in good standing from a previous season, who receive an invite, are MHL eligible. Any
            not in goodstanding will be required to play through a season of MAHL again.
        </li>
        <li>15.2 – If you've never been in the MHL or MAHL Draft, you are only eligible for MAHL your Rookie season.
        </li>
        <li>15.3 – The MEC holds the right to grant/refuse MHL eligibility to players as deemed fit each season.
        </li>
    </ul>
    <br>
    <font size="3"><b>16 – STANDINGS</b></font><br>
    <ul style="margin-left: 25px;">
        <li>16.1 – Tiebreakers are as follows (in order):
            <ul style="margin-left: 50px;">
                <li>16.1.1 – Most Wins (Whichever team has more wins in the season will win the tie)
                </li>
                <li>16.1.2 – Head-to-Head Earned Points (Whichever team has more points in the season series will win the
                    tie)
                </li>
                <li>16.1.3 – Goal Differential (Whichever team has a higher positive goal differential will win the tie)
                </li>
                <li>16.1.4 – If the teams are still tied after the above factors, a 1 game match-up will be played
                </li>
            </ul>
        </li>
        <li>16.2 – In the event there is a 3-way or more tie and the above factors have not broken the tie, each tied team
            will play each other and the three or more teams will be reseeded based on goal differential.
        </li>
    </ul>
    <br>
    <font size="3"><b>17 – SIGNIFICANT CHANGES TO POSITION(S)/AVAILABILITY</b></font><br>
    <ul style="margin-left: 25px;">
        <li>Position Changes
        </li>
        <li>17A.1 – If a player removes or adds any preferred/willing position(s), they are only eligible to be RFA’d for
            the next season.
        </li>
        <li>17A.3 – If a player simply swaps a preferred &amp; willing, that does NOT require RFA since both are full-time
            willing positions.
        </li>
        <li>17A.4 – The MEC reserves the right to make judgment calls as needed.
        </li>
        <li>Availability Changes
        </li>
        <li>17B.1 – The MEC reserves the right to require RFA in any case they deem worthy as needed. It is safe to say that
            almost ANY change in availability will likely result in RFA requirement.
        </li>
    </ul>
    <br>
    <font size="3"><b>18 – RULE 1S REPLACEMENT</b></font><br>
    <ul style="margin-left: 25px;">
        <li>18.1 – In the event that a Captain Rule 1s a player, he must call up one of his MAHL rights players as a full-time
            MHL replacement, if available.
        </li>
        <li>18.2 – The MEC will make every effort to provide an eligible replacement call-up player for the effected MAHL
            team.
        </li>
        <li>18.3 – MHL replacement players assigned to a team can only be RFA'd for next season.
        </li>
    </ul>
    <br>
    <font size="3"><b>19 – DRAPE RULES</b></font><br>
    <ul style="margin-left: 25px;">
        <li>19.1 – Scouting is voluntary from both the player and Captain’s perspective.
            <ul style="margin-left: 50px;">
                <li>19.1.1 – Players are, however, required to scout if asked/scheduled by Captain in advance. Refusal to
                    do so without valid reason will result in removal from draft pool.
                </li>
            </ul>
        </li>
        <li>19.2 – Saying “I play on BAP/Broadcast Cam and thus might suck”, or telling a Captain you refuse to play for
            them, or telling a Captain you refuse to play a specific position that you signed up for, or any other act
            deemed as douchebaggy drape by the MEC will result in removal from draft pool and possibly the league.
        </li>
    </ul>
    <br>
    <font size="3"><b>20 – NEW CAPTAINS</b></font><br>
    <ul style="margin-left: 25px;">
        <li>Must declare if they will be taking over their previous team at the time they express interest in Captaining
        </li>
        <li>20.1 – New Captains can only take over their former team if the previous Captain no longer wishes to Captain
        </li>
        <li>20.2 – Former Captains will be placed back into the Draft Pool if they sign up for the following season
        </li>
        <li>20.3 – In the event two or more new Captains declare they will be taking over their former team, the MEC will
            decide who will be given the team
        </li>
    </ul>
    <br>
    <font size="3"><b>21 – DISCLAIMER</b></font><br>
    <ul style="margin-left: 25px;">
        <li>21.1 – Any other issue that arises and is not covered in the above rules will be handled by the Moose Executive
            Committee (MEC) on a case by case basis.
        </li>
        <li>21.2 – Captains are STRONGLY encouraged/expected to work out all in-game issues by themselves and reach a fair
            compromise/agreement before requesting the assistance of the MEC. Forcing the MEC to make a judgment call
            may not workout in your favour.
        </li>
        <li>21.2 – Harassment and/or abuse of any MEC member that is deemed to be excessive will be punishable.
        </li>
    </ul>
</div>