<div class="game-preview">
    <div class="date">
        <%= link_to game.date.strftime("%m-%d-%Y %I:%M %p"), league_season_game_path(season.league, season, game) %>
    </div>
    <div class="away">
        <%= game.away_team.name %>
    </div>
    <div class="at">
        @
    </div>
    <div class="home">
        <%= game.home_team.name %>
    </div>
</div>