<%= form_for(:team_stats, :url => url_for(:action => "process_team_stats", :controller => "games"), method: :post) do |f| %>
    <div class="form-group row justify-content-center border border-main p-3">
        <div class="col-4">
            <label><h4>Image</h4></label>
            <%= f.file_field :image, class: "form-control-file" %>
        </div>
        <div class="col-4">
            <label><h4>Overtime</h4></label>
            <%= f.check_box :overtime, class: "form-control" %>
        </div>
    </div>
    <div class="form-group row justify-content-center mt-4">
        <%= f.submit "Save Team Stats", class: "btn btn-outline-dark ml-auto mr-auto", style: "cursor: pointer;" %>
    </div>
<% end %>