<%= simple_form_for([subforum, subforum.posts.build]) do |f| %>
    <label class="text-label">
        Title
    </label>
    <%= f.input_field :title, required: true, class: "text-input" %>

    <label class="textbox-label">
        Content
    </label>
    <%= f.input_field :content, as: :text, class: "textbox-input" %>

    <%= f.button :submit, "Submit post", class: "submit-post-btn" %>
<% end %>