<%= simple_form_for([@subforum, @subforum.posts.build]) do |f| %>
    <label class="title-label">
        Title
    </label>
    <%= f.input_field :title, required: true, class: "title-input" %>

    <%= f.hidden_field :content %>

    <%= f.button :submit, style: "display: none;", id: 'real-submit' %>
<% end %>

<div class="pell" id="pell">
</div>

<button class="submit-post" id="submit" >Submit</button>