<div class="post-preview">
    <div class="title">
        <%= link_to post.title, subforum_post_path(subforum, post), method: :get %>
    </div>
    <div class="date">
        <%= post.created_at.strftime("%I:%M %p - %d %^b %Y") %>
    </div>
</div>