
// Imports

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Saira');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://rsms.me/inter/inter-ui.css');

// body

body {
    font-family: "Inter UI", sans-serif !important;
    width: 100%;
    background-color: #fafafa;
}

@media (max-width: 991px) {
    body {
        font-size: 1.5em !important;
    }
}

.bg-main {
    background-color: #fff !important;
}

.nav-border {
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

.bg-accent {
    background-color: #003459 !important;
}

.border-accent {
    border-color: #003459 !important;
}

.bg-dark {
    background-color: #003459 !important;
}

.chat-message {
    p {
        display: inline;
    }

    a {
        display: inline;
    }

    img {
        display: block;
    }

    .img-inline {
        display: inline-block;
    }
}

// links (a)

a, a:focus, a:hover {
    outline: none;
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar { 
    display: none; 
}

.carousel-indicators {
    li {
        background-color: rgba(0,0,0,0.5);
    }
    

    .active {
        background-color: rgba(0,0,0,1.0);
    }
}

.picture {
    display: table;
    position: relative;

    .team-photo {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.profile-avatar {
    width: 100%;
    text-align: center;

    .avtr {
        margin-top: -100px;
        width: 15%;
        border-radius: 50%;
        box-shadow: 0 2px 3px 1px #ddd;
    }
}

.pell {
    box-shadow: none;
}

.pell-chat {
    max-height: 74px;
    overflow: hidden;
}

.pell-actionbar-chat {
    padding: 0;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
    text-align: center;
    vertical-align: middle;
    outline: none;
    border: 0;
}

.pell-content-chat {
    overflow: scroll;
    max-height: 74px;
    outline: none;
    background-color: #fff !important;
}

.pell-content {
    background-color: #fff;
}

.pell-button {
    width: 50px !important;
}

.pell-button-chat {
    padding: 0;
    height: 100%;
    margin: 0;
    width: 100%;
    border: 0;
    cursor: pointer;
    outline: none;
    background: transparent;
}

#messages {
    p {
        margin: 0;
    }

    img {
        max-width: 50%;
    }

    
}

.messages {
    @media (max-width: 991px) {
        font-size: 1em;
    }

    @media (min-width: 992px) {
        font-size: 0.75em;
    }
}

.messages-container {
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
}
// separate stylesheet into media queries

//
//  Smaller than a tablet
//

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown {
    button {
        cursor: pointer;
        outline: none;
        border: none;
        background: transparent;
    }
}

.notification-dropdown {
    display: inline-block;
    button {
        border: none;
        background: transparent;
    }

    .dropdown-element {
        text-transform: none;
        padding: 0.5em;
        font-size: 0.75em;
    }
}

.hoverimg {
    opacity: 0.5;
}

.hoverimg:hover {
    opacity: 1.0;
}

hr {
    border-color: rgba(0,0,0,0.2);
}

.carousel-control-prev, .carousel-control-next {
    width: 10% !important;
}

.post, .comment {
    img {
        height: auto;
        max-width: 100%;
    }
}

// Sidebar

.side-navigation {
    z-index: 2000 !important;
}

@media (max-width: 992px) {
    .container { width: 100%; max-width: none; }
}

@media (min-width: 1200px)
{
    .side-navigation {
        max-width: 1140px;
    }
}

@media (min-width: 992px)
{
    .side-navigation {
        max-width: 960px;
    }
}
@media (min-width: 768px)
{
    .side-navigation {
        max-width: 720px;
    }
}
@media (min-width: 576px)
{
    .side-navigation {
        max-width: 540px;
    }
}

.side-navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 1.0s;
}

.text-m-link {
    color: rgba(255,255,255,0.5);
}

.text-m-link:hover {
    color: rgba(255,255,255,1.0);
}

