
// Imports

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Saira');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// body

body {
    font-family: "Roboto", sans-serif !important;
    width: 100%;
    background-color: #ececec;
}

// links (a)

a, a:focus, a:hover {
    outline: none;
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar { 
    display: none; 
}

.carousel-indicators {
    li {
        background-color: rgba(0,0,0,0.5);
    }
    

    .active {
        background-color: rgba(0,0,0,1.0);
    }
}

.picture {
    display: table;
    position: relative;

    .team-photo {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.profile-avatar {
    width: 100%;
    text-align: center;

    .avtr {
        margin-top: -100px;
        width: 15%;
        border-radius: 50%;
        box-shadow: 0 2px 3px 1px #ddd;
    }
}

.pell-content-chat {
    max-height: 50px;
    overflow: scroll;
    outline: none;
}

#messages {
    p {
        margin: 0;
    }

    img {
        max-width: 50%;
    }
}
// separate stylesheet into media queries

//
//  Smaller than a tablet
//

.notification-dropdown {
    display: inline-block;
    button {
        border: none;
        background: transparent;
    }

    .dropdown-element {
        text-transform: none;
        padding: 0.5em;
        font-size: 0.75em;
    }
}

.hoverimg {
    opacity: 0.5;
}

.hoverimg:hover {
    opacity: 1.0;
}

hr {
    border-color: rgba(0,0,0,0.2);
}