
// Imports

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Saira');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://rsms.me/inter/inter-ui.css');

// body

body {
    font-family: "Inter UI", sans-serif !important;
    width: 100%;
    background-color: #fafafa;
}

@media (max-width: 991px) {
    body {
        font-size: 1.6em !important;
    }
}

.bg-main {
    background-color: #24292e !important;
}

.border-main {
    border-color: #24292e !important;
}

.bg-blue {
    background-color: #003459 !important;
}

.bg-green {
    background-color: #32746D !important;
}

.border-green {
    border-color: #32746D !important;
}

.border-blue {
    border-color: #003459 !important;
}

.border-gray {
    border: 1px solid rgba(0,0,0,.0975) !important;
}

.nav-border {
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

.bg-accent {
    background-color: #003459 !important;
}

.border-accent {
    border-color: #003459 !important;
}

.bg-dark {
    background-color: #003459 !important;
}

.chat-message {
    p {
        display: inline;
    }

    a {
        display: inline;
    }

    img {
        display: block;
    }

    .img-inline {
        display: inline-block;
    }
}

// links (a)

a, a:focus, a:hover {
    outline: none;
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar { 
    display: none; 
}

.carousel-indicators {
    li {
        background-color: rgba(0,0,0,0.5);
    }
    

    .active {
        background-color: rgba(0,0,0,1.0);
    }
}

.picture {
    display: table;
    position: relative;

    .team-photo {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.profile-avatar {
    width: 100%;
    text-align: center;

    .avtr {
        margin-top: -100px;
        width: 15%;
        border-radius: 50%;
        box-shadow: 0 2px 3px 1px #ddd;
    }
}

.pell {
    box-shadow: none;
}

.pell-chat {
    max-height: 74px;
    overflow: hidden;
}

.pell-actionbar-chat {
    padding: 0;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
    text-align: center;
    vertical-align: middle;
    outline: none;
    border: 0;
}

.pell-content-chat {
    overflow: scroll;
    max-height: 74px;
    outline: none;
    background-color: #fff !important;
}

.pell-content {
    background-color: #fff;
}

.pell-button {
    width: 50px !important;
}

.pell-button-chat {
    padding: 0;
    height: 100%;
    margin: 0;
    width: 100%;
    border: 0;
    cursor: pointer;
    outline: none;
    background: transparent;
}

#messages {
    p {
        margin: 0;
    }

    img {
        max-width: 50%;
    }

    
}

.messages {
    @media (max-width: 991px) {
        font-size: 1em;
    }

    @media (min-width: 992px) {
        font-size: 0.75em;
    }
}
// separate stylesheet into media queries

//
//  Smaller than a tablet
//

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown {
    button {
        cursor: pointer;
        outline: none;
        border: none;
        background: transparent;
    }
}

.notification-dropdown {
    display: inline-block;
    button {
        border: none;
        background: transparent;
    }

    .dropdown-element {
        text-transform: none;
        padding: 0.5em;
        font-size: 0.75em;
    }
}

.hoverimg {
    opacity: 0.5;
}

.hoverimg:hover {
    opacity: 1.0;
}

hr {
    border-color: rgba(0,0,0,0.2);
}

.carousel-control-prev, .carousel-control-next {
    width: 10% !important;
}

.post, .comment {
    img {
        height: auto;
        max-width: 100%;
    }
}

// Sidebar

.side-navigation {
    z-index: 2000 !important;
}

@media (max-width: 992px) {
    .container { width: 100%; max-width: none; }
}

@media (min-width: 1200px)
{
    .side-navigation {
        max-width: 1140px;
    }
}

@media (min-width: 992px)
{
    .side-navigation {
        max-width: 960px;
    }
}
@media (min-width: 768px)
{
    .side-navigation {
        max-width: 720px;
    }
}
@media (min-width: 576px)
{
    .side-navigation {
        max-width: 540px;
    }
}

.side-navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 1.0s;
}

.text-m-link {
    color: rgba(255,255,255,0.5);
}

.text-m-link:hover {
    color: rgba(255,255,255,1.0);
}

.current {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.disabled {
    color: #868e96 !important;
    pointer-events: none !important;
    background-color: #fff !important;
    border-color: #ddd !important;
}

.next_page, .previous_page {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;

    a {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #ddd;
    }
}
  
  .loader {
    position: absolute;
    z-index: 4000;
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
  }
  
  .one {
    position: absolute;
    border-radius: 50%;
    background: #A71D31;
    opacity: .0;
    left: 50%;
    top: 50vh;
    animation: loading 1.3s .65s infinite;
    height: 20px;
    width: 20px;
  }
  
  .two {
    position: absolute;
    left: 50%;
    top: 50vh;
    border-radius: 50%;
    background: #003459;
    opacity: .0;
    animation: loading 1.3s infinite;
    height: 20px;
    width: 20px;
  }
  
  
  @keyframes loading {
    0% {
      opacity: .0;
      transform: scale(.15);
      box-shadow: 0 0 2px rgba(black, .1);
    }
    50% {
      opacity: 1;
      transform: scale(2);
      box-shadow: 0 0 10px rgba(black, .1);
    }
    100% {
      opacity: .0;
      transform: scale(.15);
      box-shadow: 0 0 2px rgba(black, .1);
    }
  }
  

  .rt-thead {
      background-color: #24292e;
      color: #fff;
  }

  .ReactTable .rt-thead .rt-th {
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 15px;
    padding: 10px 0;
    word-break: break-word;
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
    box-shadow: inset 0 3px 0 0 rgba(255,255,255,1.0);
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
    -webkit-box-shadow: inset 0 -3px 0 0 rgba(255, 255, 255, 1.0);
    box-shadow: inset 0 -3px 0 0 rgba(255, 255, 255, 1.0);
}
  
  
